<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ejemplo 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

</head>


<div class="container-fluid mt-3" id="app">
    <input type="text" class="form-control" v-model="criterioDeBusqueda"
       placeholder="Ingresar un criterio de busqueda...">

    <input type="text" class="form-control" v-model="criterioDeBusquedaDni"
       placeholder="buscar por DNI...">

    <input type="text" class="form-control" v-model="criterioDeBusquedaNombre"
        placeholder="Buscar por nombre y apellido...">
    <br>
    <div class="card-deck m-0">
        <div class="row">
            <div class="col" v-for="persona in personasFiltradas">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{getNombreCompleto(persona)}}</h5>
                        <p class="card-text">dni {{persona.dni}}</p>
                        <a href="#" class="card-link">{{persona.correo}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</html>

<script>
    new Vue({
        el: '#app',
        data: {
            criterioDeBusqueda: '',
            criterioDeBusquedaDni:'',
            criterioDeBusquedaNombre:'',

            personas: [
                {
                    nombre: "Daniel",
                    apellido: "Sanchez",
                    correo: "danielsanchez68@hotmail.com",
                    dni: "20442873"
                },
                {
                    nombre: "Leandro",
                    apellido: "Taddeo",
                    correo: "leandrotaddeo03@gmail.com",
                    dni: "34905572"
                },
                {
                    nombre: "Jose",
                    apellido: "Hernandez",
                    correo: "josehernandez@gmail.com",
                    dni: "548235523"
                },
                {
                    nombre: "Rodrigo",
                    apellido: "Mesa",
                    correo: "rodrigomesa@gmail.com",
                    dni: "144222578"
                },
                {
                    nombre: "Juan",
                    apellido: "Rodriguez",
                    correo: "juanrodriguez@gmail.com",
                    dni: "941265603"
                },
            ]

        },
        computed: {
            personasFiltradas() {
                let listPersonas = [...this.personas];
                listPersonas = this.personas.filter((persona) => {
                    let registroCompleto = `${persona.nombre} ${persona.apellido} ${persona.dni} ${persona.correo}`
                    return registroCompleto.toLowerCase().includes(this.criterioDeBusqueda.toLowerCase())
                });
               
                listPersonas = listPersonas.filter(persona => persona.dni.includes(this.criterioDeBusquedaDni));
               
                listPersonas = listPersonas.filter(persona => `${persona.nombre} ${persona.apellido}`.toLowerCase().includes(this.criterioDeBusquedaNombre.toLowerCase()));
                
                return listPersonas;
            }
        },
        methods: {
            getNombreCompleto(persona) {
                return `${persona.nombre} ${persona.apellido}`
            }
        }
    });
</script>